program -1
      given Number is possitive or negative

In [ ]:
a = int(input("enter the number : "))

if a >= 0:
  print(" number is possitive ")
else:
  print(" number is negative ")

enter the number : 10
 number is possitive

program -2 printing even number in given range

In [ ]:
b = int(input("enter the range : "))
for i in range(0,b+1):
  if i%2==0:
    print(i)
  else:
    pass

enter the range : 10
0
2
4
6
8
10

program -3 given year is leaf year or not

In [ ]:
year = int(input("enter the year : "))
if year % 4 == 0 :
  print(year ," is leaf year. ")
else:
  print(year, " is normal year.")

enter the year : 2024
2024  is leaf year.

program -4 student mark sheet

In [11]:
val = True
print( "s_id| s_name| mark_1| mark_2| mark_3| total| grade")
while val:
   s_id = int(input(" enter student id :"))
   s_name = str(input(" enter student name :"))
   mark_1 = int(input(" enter student mark1 :"))
   mark_2 = int(input(" enter student mark2 :"))
   mark_3 = int(input(" enter student mark3 :"))
   total= mark_1 + mark_2 + mark_3
   if total >= 250 :
      grade = 'A'
   elif total >= 200 :
      grade = 'B'
   elif total >= 150 :
      grade = 'C'
   elif total >= 100 :
      grade = 'D'
   else :
      grade = " Fail"
   print( s_id, " | ",s_name," | ",mark_1," | ",mark_2," | ",mark_3, " | ",total," | ",grade)
   stop =str(input("press 's' for stop , 'n' for continue"))
   if stop == 's':
      val = False
   else:
      continue

s_id| s_name| mark_1| mark_2| mark_3| total| grade
 enter student id :1
 enter student name :frrf
 enter student mark1 :78
 enter student mark2 :98
 enter student mark3 :78
1  |  frrf  |  78  |  98  |  78  |  254  |  A
press 's' for stop , 'n' for continues

program -5 summation of given range number

In [12]:
sum = 0
num = int(input("enter the range :"))
for i in range(0,num+1):
  sum = sum + i
print(" the sum of given number is :", sum)

enter the range :10
 the sum of given number is : 55

program  -6 factorial

In [16]:
fact = 1
num1 = int(input(" enter number :"))
while num1 > 0:
  fact = fact * num1
  num1 -=1
print(" the factorial of", num1, "is :", fact)

 enter number :3
 the factorial of 0 is : 6

program -7 find the largest number in given list

In [18]:
li = 0
mylist = [5,76,56,65,87,40]

for i in mylist:
  if li < i:
    li = i
print( "the largest number is: ", li)

the largest number is:  87

program -8 fibnosis series

In [30]:

li = [0,1]
a = 0
b = 1
c = 0
r = int(input(" enter the number :"))
for i in range( 0,r+1):
  c = a + b
  a = b
  b = c
  li.append(c)
print(li)

 enter the number :10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

program - 9 prime number

In [32]:
num2 = int(input(" enter number :"))
if num2 <= 1:
  print(" its not prime number")
elif num2 <= 3:
  print("its prime number")
elif num2%2==0 or num2%3==0:
  print(" its not a prime number")
else:
  print(" its prime")

 enter number :7
 its prime

program -10 pattern program

In [44]:
ascii_num = 65
for i in range (0,5):
  for j in range(0,i+1):
    chra = chr(ascii_num)
    print(chra, end = " ")
  ascii_num += 1
  print(' ')

A
B B
C C C
D D D D
E E E E E